# OSX
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# Build
lib/
dist/
build/
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Android
*.iml
.gradle
local.properties
android/.idea/
android/build/
android/app/build/
android/.gradle/

# iOS
ios/build/
ios/Pods/
*.xcworkspace/
!default.xcworkspace/
xcuserdata/
*.xcscmblueprint
*.xccheckout
DerivedData/

# TypeScript
*.tsbuildinfo

# Test coverage
coverage/
.nyc_output/

# Misc
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
