# Swift Package Manager
.build/
*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.xcscmblueprint
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# macOS
.DS_Store

# Linux
*~
